.vaccine-appointment-wrapper {
  margin-top: 100px;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #f3edde;
  overflow-x: hidden;
}

.vaccine-appointment-title{
  margin-top: 70px;
}

.vaccine-appointment-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 100%;
}

.vaccine-appointment-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.date-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin-bottom: 40px;
}

.vaccine-section-heading {
  margin-left: 650px;
  text-align: left; 
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  width: 100%;
}

.time-selection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  margin-bottom: 40px;
}

.time-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 600px;
}

.time-option-button {
  padding: 15px;
  border: 2px solid #d4b890;
  background-color: #fffbea;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
}

.time-option-button.selected {
  background-color: #d4b890;
  color: white;
}

.time-option-button:hover {
  background-color: #e3c2a2;
}

.vaccine-submit-button {
  margin-top: 20px;
  padding: 15px 10px;
  width: 200px;
  background-color: #9d502f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.vaccine-submit-button:hover {
  background-color: #8b4513;
}

.time-section {
  margin-bottom: 20px;
}

.time-label {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 10px;
  color: #5b4035;
}

