
.pet-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .pet-selection-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 600px;
  }
  
  .pet-selection-option {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
  }
  
  .pet-selection-option input {
    margin-right: 10px;
    transform: scale(1.5);
  }
  
  .pet-selection-option:hover {
    background-color: #ececec;
  }
  
  .section-heading {
    margin-left: 650px;
    text-align: left; 
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    width: 100%;
  }